{% block content %}
<link rel="stylesheet" href="/assets/css/bedroom.css">
<h1>Mentions légales</h1>
<p class ="textedepresentation">Éditeur du site web : Aircnc Strasbourg </br>
    Siège social :	135 route de Mittelhausbergen </br>
    Strasbourg</br>
    France</br>
    Numéro de TVA intracommunautaire : IE9827384L</br>
    Numéro d'immatriculation : (Registre du commerce français) IE 511825</br>
    Capital social : il n'existe pas d'équivalent à la notion du droit français de « capital social » en droit des sociétés française.</br>
    
    Directeurs de la publication : Ludivine Martel, Roger Aissen, Radu Bodes</br>
    
    Nous contacter :</br>
    Adresse e-mail : terms@aircnc.com</br>
    
    Aircnc France agit en qualité d’intermédiaire technique et n’intervient pas dans le choix des contenus mis en ligne par ses utilisateurs. Plus d’informations dans nos Conditions de service</br>
    
    Prestataire technique (hébergeur du site web) : Aircnc utilise les services cloud d'Amazon Web Services pour héberger son site web. Le siège social d’Amazon Web Services est situé à l'adresse suivante : Amazon Web Services, Inc, 410 Terry Avenue North Seattle, WA 98109-5210, États-Unis.</br>
    
    Partie contractante relative aux services de paiement destinés aux utilisateurs dont le lieu de résidence se trouve au Royaume-Uni, en Suisse ou en Russie :</br>
    Aircnc Payments UK Ltd.</br>
    100, New Bridge Street</br>
    Londres</br>
    EC4V 6JA</br>
    Royaume-Uni</br>
    
    Numéro de l'entreprise : 09392688</br>
    Représentants légaux : Quent Rickerby, Bart Rubin et Sam Shrauger</br>
    
    Aircnc Payments UK Limited est autorisé et régulé par l'Autorité de bonne conduite financière (Financial Conduct Authority) en tant qu'établissement de monnaie électronique sous la référence 900596.</br>
    
    Partie contractante relative aux services de paiement destinés aux utilisateurs dont le lieu de résidence se trouve dans l'Espace économique européen :</br>
    Aircnc Payments Luxembourg S.A.</br>
    4, rue Henri Schnadt</br>
    L-2530 Luxembourg</br>
    Luxembourg</br>
    
    Numéro de l'entreprise : B230618</br>
    Représentants légaux : Yavuz Kutuk </br>
    
    Aircnc Payments Luxembourg S.A. est autorisé et régulé par la Commission de Surveillance du Secteur Financier (« CSSF ») sous le numéro de référence Z21.</br>
    
    Médiation Vous pouvez accéder à la plate-forme en ligne de résolution des litiges de la Commission européenne ici : http://ec.europa.eu/consumers/odr. Veuillez noter qu'Aircnc ne s'engage ni ne s'oblige à utiliser un dispositif alternatif de résolution des litiges afin de résoudre des litiges avec les consommateurs.</br>
    
    Informations sur le nombre mensuel moyen de destinataires actifs dans l'Union européenne :</br>
    
    En vertu de l'article 24, paragraphe 2, de la législation sur les services numériques (DSA), les plateformes en ligne sont tenues de publier des « informations sur le nombre mensuel moyen de destinataires actifs du service dans l'Union » avant le 17 février 2023, et tous les six mois par la suite.</br>
    
    Conformément aux dispositions du DSA, y compris le Considérant 77, nous avons calculé que notre nombre mensuel moyen de destinataires actifs dans l'Union européenne pour la période du 1 août 2022 - 31 janvier 2023 s'élève à environ 30.6M.</br>
    
    Nous continuerons à suivre toute évolution et publierons tous les six mois des informations sur le nombre mensuel moyen de destinataires actifs de notre service dans l'Union européenne, conformément à l'article 24, paragraphe 2, du DSA.</p>
{% endblock %}