{% block content %}
<footer>
    <div class="container">
    <div class="row">
            <div class="col-sm-4">
                <h5>Nous contacter</h5>
                    <p>25 rue les Antilles</p>
                    <p>67000 Strasbourg, France</p>
                    <p>Téléphone : +33 1 23 45 67 89</p>
                    <p>Email : info@aircnc.com</p>
            </div>
                <div class="rows">
                    <h5>Plan du site</h5>
                    <a href="/" target="_blank">ACCUEIL</a><br>
                    <a href="/chambre">CHAMBRES</a></br>
                    <a href="/contact">CONTACT</a></br>
                    <a href="/reservation" class="active">RÉSERVATION</a></br>
                </div>
              </div>
            </div>
    <div class="rows">
        <a href="legalnotice" target="_blank">Mentions légals</a><br>
        <a href="#" target="_blank">CGV</a>
    </div>
    <p class="copy">&copy; 2023 AIRCNC. Tous droits réservés.</p>
</footer>
{% endblock %}