{% block content %}
  <nav>
    <div class="logo">
      <img src="/assets/images/NAVBAR/logo.png" height='150px' width='180px'>
    </div>
    <div class="icon">
      <div class="test">
      <ul>
        <li><a href="/">ACCUEIL</a></li>
        <li><a href="/chambre">CHAMBRES</a></li>
        <li><a href="/contact">CONTACT</a></li>
        <li class="reservation"><a href="/reservation" class="active">RÉSERVATION</a></li>
        <li><a href="/login"><img src="/assets/images/NAVBAR/user.png" height='30px'></a></li>
      </ul>
    </div>
    </div>
  </nav>
  {% endblock %}
